h1= title

#player

div
  select(class="disc")
  select(class="track")
  button.play play
  button.stop stop
  code#progress
    span.elapsed --:--
    /
    span.duration --:--

script(src="javascripts/vendor/jquery.js")
script(src="javascripts/vendor/jquery.jplayer.min.js")
script(src="/socket.io/socket.io.js")
script(src="javascripts/media.js")
script(src="javascripts/main.js")
